$purple: #5c6cff;
$grey: #959595;
$grey-light: #eff1f1;
$purple: #5c6cff;
$yellow-gradient: linear-gradient(350deg, #f87000 40%, #f8ae00 85%);
$blue-gradient: linear-gradient(350deg, #6169f4 40%, #1cbeec 85%);
